{% extends 'base.html.twig' %}

{% block title %}Symphony Character List{% endblock %}

{% block body %}
    {% if characters %}
        <table id="characters" class="table table-striped">
            <thead>
            <tr>
                <th>Character name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                    <tr>
                        <td>{{ character.name }}</td>
                        <td>
                            <a href="/character/{{ character.id }}" class="btn btn-dark">Show</a>
                            <a href="/character/edit/{{ character.id }}" class="btn btn-light">Edit</a>
                            <a href="#" class="btn btn-danger delete-character" data-id="{{ character.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Characters to display</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}