{% extends 'base.html.twig' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <h1>{{ character.name }}</h1>
    <p>{{ character.bio }}</p>
    <hr>
    <a href="/">Back</a>
{% endblock %}